.photo-grid {
    margin-top: 92px;
    margin-left: 48px;
    margin-right: 48px;
    max-width: 1184px;
    min-height: 671px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, max-content));
    grid-template-rows: repeat(auto-fit, 213px);
    grid-gap: 16px;
}

@media screen and (max-width: 1279px) {
    .photo-grid {
        max-width: 928px;
        min-height: 942px;
        grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
        grid-template-rows: repeat(auto-fit, 225px);
        grid-gap: 14px;
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid {
        max-width: 720px;
        min-height: 1664px;
        grid-template-columns: repeat(auto-fit, minmax(352px, max-content));
        grid-template-rows: repeat(auto-fit, 264px);
        grid-gap: 16px;
        margin-top: calc(88px + (92 - 88) * (100vw - 768px) / (1024 - 768));
        margin-left: calc(24px + (48 - 24) * (100vw - 768px) / (1024 - 768));
        margin-right: calc(24px + (48 - 24) * (100vw - 768px) / (1024 - 768));
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
        max-width: 288px;
        min-height: 2724px;
        grid-template-columns: repeat(auto-fit, minmax(288px, max-content));
        grid-template-rows: repeat(auto-fit, 216px);
        grid-gap: 12px;
        margin-top: calc(64px + (88 - 64) * (100vw - 320px) / (768 - 320));
        margin-left: calc(16px + (24 - 16) * (100vw - 320px) / (768 - 320));
        margin-right: calc(16px + (24 - 16) * (100vw - 320px) / (768 - 320));
    }
}
