.cover__subtitle {
    margin: 0;
    max-width: 360px;
    margin-top: 32px;
    min-height: 66px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2222;
    text-align: center;
    z-index: 2;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        font-size: calc(14px + (18 - 14) * (100vw - 320px) / (768 - 320));
        line-height: 1.1428;
        margin-top: calc(16px + (32 - 16) * (100vw - 320px) / (768 - 320));
        min-height: calc(48px + (66 - 48) * (100vw - 320px) / (768 - 320));
        max-width: calc(288px + (360 - 288) * (100vw - 320px) / (768 - 320));
    }
}
