.header__logo {
    max-width: 176px;
    padding-right: 0;
}

@media screen and (max-width: 767px) {
    .header__logo {
        max-width: calc(142px + (176 - 142) * (100vw - 320px) / (768 - 320));
    }
}
