.header {
    margin-left: auto;
    margin-right: auto;
    margin-top: 28px;
    max-width: 1184px;
    max-height: 52px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1279px) {
    .header {
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media screen and (max-width: 1023px) {
    .header {
        margin-left: calc(24px + (48 - 24) * (100vw - 768px) / (1024 - 768));
        margin-right: calc(24px + (48 - 24) * (100vw - 768px) / (1024 - 768));
    }
}

@media screen and (max-width: 767px) {
    .header {
        margin-left: calc(16px + (24 - 16) * (100vw - 320px) / (768 - 320));
        margin-right: calc(16px + (24 - 16) * (100vw - 320px) / (768 - 320));
        margin-top: calc(16px + (28 - 16) * (100vw - 320px) / (768 - 320));
    }
}
