.place__website_link {
    width: 100%;
    min-height: 22px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2222;
    text-decoration: underline;
    color: #ffffff;
}

.place__website_link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 1023px) {
    .place__website_link {
        line-height: 1;
    }
}
